force-app/main/default/flows/Opportunities_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment_in_Project</name>
        <label>Assignment in Project</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Project.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Project_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Project_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_in_Role_Per_Project</name>
        <label>Assignment in Role Per Project</label>
        <locationX>704</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>RolePerProject.Number_of_hours_sold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opportunities_Line_Item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolePerProject.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Opportunities_Line_Item.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolePerProject.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Projects_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Role_Per_Project_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_List</name>
        <label>Project List</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Projects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Role_Per_Project_List</name>
        <label>Role Per Project List</label>
        <locationX>704</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>RolesPerProject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RolePerProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Opportunities_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_associated_with_the_same_Project_Opportunity</name>
        <label>Is associated with the same Project Opportunity?</label>
        <locationX>836</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Opportunities_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Opportunities_Line_Item.Opportunity.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_in_Projects_Created.Opportunity__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_in_Role_Per_Project</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunities Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunities Closed Won</label>
    <loops>
        <name>Loop_in_Projects_Created</name>
        <label>Loop Over Projects Created</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Projects_Created</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Over_Opportunities_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Role_Per_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Opportunities</name>
        <label>Loop on Opportunities</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Opportunities_with_Stage_Closed_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_in_Project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Opportunities_Line_Item</name>
        <label>Loop Over Opportunities Line Item</label>
        <locationX>616</locationX>
        <locationY>1391</locationY>
        <collectionReference>Opportunities_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_associated_with_the_same_Project_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_in_Projects_Created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Projects</name>
        <label>Create Projects</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Get_Projects_Created</targetReference>
        </connector>
        <inputReference>Projects</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Role_Per_Project</name>
        <label>Create Role Per Project</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <inputReference>RolesPerProject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Projects_Created</name>
        <label>Get Projects Created</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Projects_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunities_Line_Item</name>
        <label>Opportunities Line Item</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunities_with_Stage_Closed_Won</name>
        <label>Opportunities with Stage Closed Won</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunities_with_Stage_Closed_Won</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_in_Opportunity_Line_Item_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Projects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>RolePerProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequiredRole__c</objectType>
    </variables>
    <variables>
        <name>RolesPerProject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RequiredRole__c</objectType>
    </variables>
</Flow>
